@inherits SessionChild

@if (notifier?.Data != null)
{
	<div class="rounded bg-info-t10">
		<dl>
			<dt>
				<Localize Value="@nameof(MissionEntity.Name)" />
			</dt>
			<dd>
				@notifier.Data.Name
			</dd>
			<dt>
				<Localize Value="@nameof(MissionEntity.Description)" />
			</dt>
			<dd>
				@notifier.Data.Description
			</dd>
			<dt>
				<Localize Value="@nameof(MissionEntity.Location)" />
			</dt>
			<dd>
				@notifier.Data.Location
			</dd>
			<dt>
				<Localize Value="@nameof(MissionEntity.Branches)" />
			</dt>
			<dd>
				@String.Join(", ", notifier.Data.Branches)
			</dd>
			<dt>
				<Localize Value="Average Completion Time" />
			</dt>
			<dd>
				@if (notifier.Data.Ratings.Any())
				{
					@SessionParent.Localize(TimeSpan.FromTicks((long)notifier.Data.Ratings.Select(r=>r.TimeTaken.Ticks).Average()), "hh:mm")
				}else{
					<Localize Value="No Ratings Yet"/>
				}
			</dd>
		</dl>
	</div>
}

@code {
	[Parameter]
	public MissionEntity? Mission { get; set; }

	private INotifyStateChange<MissionEntity?>? notifier;

	protected override void OnParametersSetAndSessionInitialized()
	{
		notifier = GetNotifierFor(Mission);
	}
}